USE [master]
GO
/****** Object:  Database [OurTournament]    Script Date: 20/10/2020 11:19:20 ******/
CREATE DATABASE [OurTournament]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OurTournament', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OurTournament.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OurTournament_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OurTournament_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OurTournament].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OurTournament]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IDEquipo] [int] NOT NULL,
	[NombreEquipo] [varchar](20) NULL,
	[IDTorneo] [int] NULL,
	[Puntos] [int] NULL,
	[GolesAFavor] [int] NULL,
	[GolesEnContra] [int] NULL,
	[PartidosJugados] [int] NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[IDEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos](
	[IDFoto] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [varchar](200) NULL,
	[IDTorneo] [int] NULL,
 CONSTRAINT [PK_Fotos] PRIMARY KEY CLUSTERED 
(
	[IDFoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GolesXUsuarioXPartidos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GolesXUsuarioXPartidos](
	[IDUsuario] [int] NOT NULL,
	[IDPartido] [int] NOT NULL,
	[CantidadGoles] [int] NULL,
 CONSTRAINT [PK_GolesXPartidos] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC,
	[IDPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaDeEsperaParaTorneo]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaDeEsperaParaTorneo](
	[IDUsuario] [int] NOT NULL,
	[IDTorneo] [int] NOT NULL,
 CONSTRAINT [PK_ListaDeEsperaParaTorneo] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC,
	[IDTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noticias]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticias](
	[IDNoticia] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](40) NULL,
	[Descripcion] [varchar](300) NULL,
	[IDFoto] [int] NULL,
	[IDTorneo] [int] NULL,
	[Fecha] [date] NULL,
	[Destacada] [bit] NULL,
 CONSTRAINT [PK_Noticias] PRIMARY KEY CLUSTERED 
(
	[IDNoticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IDPartido] [int] IDENTITY(1,1) NOT NULL,
	[FechaDeEncuentro] [datetime] NULL,
	[JornadaDelTorneo] [int] NULL,
	[GolesLocal] [int] NULL,
	[GolesVisitante] [int] NULL,
	[IDTorneo] [int] NULL,
	[IDEquipo1] [int] NULL,
	[IDEquipo2] [int] NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[IDPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguidoresXTorneos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguidoresXTorneos](
	[IDUsuario] [int] NOT NULL,
	[IDTorneo] [int] NOT NULL,
	[IDEquipoFavorito] [int] NULL,
 CONSTRAINT [PK_SeguidoresXTorneos] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC,
	[IDTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneos](
	[IDTorneo] [int] IDENTITY(1,1) NOT NULL,
	[NombreTorneo] [varchar](20) NULL,
	[ContraseniaDeAdministrador] [varchar](20) NULL,
	[LinkParaUnirse] [varchar](40) NULL,
 CONSTRAINT [PK_Torneos] PRIMARY KEY CLUSTERED 
(
	[IDTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TorneosParticipadosXUsuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TorneosParticipadosXUsuario](
	[IDUsuario] [int] NOT NULL,
	[IDTorneo] [int] NOT NULL,
	[Administrador] [bit] NULL,
	[IDEquipo] [int] NULL,
 CONSTRAINT [PK_TorneosParticipadosXUsuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC,
	[IDTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreDeUsuario] [varchar](20) NULL,
	[Contrasenia] [varchar](20) NULL,
	[FechaDeNacimiento] [date] NULL,
	[Email] [varchar](40) NULL,
	[GolesEnTorneo] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Equipos] ([IDEquipo], [NombreEquipo], [IDTorneo], [Puntos], [GolesAFavor], [GolesEnContra], [PartidosJugados]) VALUES (1, N'River Plate', 1, 1, 3, 2, 5)
INSERT [dbo].[Equipos] ([IDEquipo], [NombreEquipo], [IDTorneo], [Puntos], [GolesAFavor], [GolesEnContra], [PartidosJugados]) VALUES (2, N'Boca Juniors', 1, 2, 2, 4, 6)
INSERT [dbo].[Equipos] ([IDEquipo], [NombreEquipo], [IDTorneo], [Puntos], [GolesAFavor], [GolesEnContra], [PartidosJugados]) VALUES (3, N'Independiente', 1, 3, 6, 5, 5)
GO
SET IDENTITY_INSERT [dbo].[Fotos] ON 

INSERT [dbo].[Fotos] ([IDFoto], [Direccion], [IDTorneo]) VALUES (1, N'https://es.wikipedia.org/wiki/F%C3%BAtbol#/media/Archivo:Football_iu_1996.jpg', 1)
INSERT [dbo].[Fotos] ([IDFoto], [Direccion], [IDTorneo]) VALUES (2, N'https://www.mundodeportivo.com/rf/image_large/GODO/MD/p7/Futbol/Imagenes/2020/08/20/Recortada/20200820-637334974852781493_20200820052502-kufF-U48291400994803D-980x554@MundoDeportivo-Web.jpg', 1)
INSERT [dbo].[Fotos] ([IDFoto], [Direccion], [IDTorneo]) VALUES (3, N'https://www.rushbet.co/blog/wp-content/uploads/2019/12/shutterstock_1113319799-1000x605.jpg', 1)
SET IDENTITY_INSERT [dbo].[Fotos] OFF
GO
INSERT [dbo].[GolesXUsuarioXPartidos] ([IDUsuario], [IDPartido], [CantidadGoles]) VALUES (1, 1, 2)
INSERT [dbo].[GolesXUsuarioXPartidos] ([IDUsuario], [IDPartido], [CantidadGoles]) VALUES (1, 4, 1)
INSERT [dbo].[GolesXUsuarioXPartidos] ([IDUsuario], [IDPartido], [CantidadGoles]) VALUES (2, 1, 1)
GO
INSERT [dbo].[ListaDeEsperaParaTorneo] ([IDUsuario], [IDTorneo]) VALUES (1, 2)
INSERT [dbo].[ListaDeEsperaParaTorneo] ([IDUsuario], [IDTorneo]) VALUES (2, 3)
INSERT [dbo].[ListaDeEsperaParaTorneo] ([IDUsuario], [IDTorneo]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Noticias] ON 

INSERT [dbo].[Noticias] ([IDNoticia], [Titulo], [Descripcion], [IDFoto], [IDTorneo], [Fecha], [Destacada]) VALUES (1, N'Suarez anota en su debut', N'El goleador uruguayo, nuevo refuerzo del Atletico de Madrid, marca un doblete en su debut y le de la victoria a los madrilenses.', 1, 1, CAST(N'2020-10-01' AS Date), 1)
INSERT [dbo].[Noticias] ([IDNoticia], [Titulo], [Descripcion], [IDFoto], [IDTorneo], [Fecha], [Destacada]) VALUES (2, N'Ansu Fati, la nueva promesa', N'El joven jugador nacionalizado español, llego a primera y la esta rompiendo marcando goles en todos los partidos.', 2, 1, CAST(N'2020-10-02' AS Date), 1)
INSERT [dbo].[Noticias] ([IDNoticia], [Titulo], [Descripcion], [IDFoto], [IDTorneo], [Fecha], [Destacada]) VALUES (3, N'Suarez anota en su debut', N'El goleador uruguayo, nuevo refuerzo del Atletico de Madrid, marca un doblete en su debut y le de la victoria a los madrilenses.', 1, 1, CAST(N'2020-10-01' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Noticias] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidos] ON 

INSERT [dbo].[Partidos] ([IDPartido], [FechaDeEncuentro], [JornadaDelTorneo], [GolesLocal], [GolesVisitante], [IDTorneo], [IDEquipo1], [IDEquipo2]) VALUES (1, CAST(N'2020-04-05T15:30:00.000' AS DateTime), 1, 2, 1, 1, 1, 2)
INSERT [dbo].[Partidos] ([IDPartido], [FechaDeEncuentro], [JornadaDelTorneo], [GolesLocal], [GolesVisitante], [IDTorneo], [IDEquipo1], [IDEquipo2]) VALUES (2, CAST(N'2020-11-10T16:00:00.000' AS DateTime), 1, 3, 1, 1, 3, 4)
INSERT [dbo].[Partidos] ([IDPartido], [FechaDeEncuentro], [JornadaDelTorneo], [GolesLocal], [GolesVisitante], [IDTorneo], [IDEquipo1], [IDEquipo2]) VALUES (3, CAST(N'2020-03-27T14:20:00.000' AS DateTime), 2, 2, 2, 1, 2, 4)
SET IDENTITY_INSERT [dbo].[Partidos] OFF
GO
INSERT [dbo].[SeguidoresXTorneos] ([IDUsuario], [IDTorneo], [IDEquipoFavorito]) VALUES (1, 2, 1)
INSERT [dbo].[SeguidoresXTorneos] ([IDUsuario], [IDTorneo], [IDEquipoFavorito]) VALUES (2, 2, 2)
INSERT [dbo].[SeguidoresXTorneos] ([IDUsuario], [IDTorneo], [IDEquipoFavorito]) VALUES (3, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[Torneos] ON 

INSERT [dbo].[Torneos] ([IDTorneo], [NombreTorneo], [ContraseniaDeAdministrador], [LinkParaUnirse]) VALUES (1, N'Liga1', N'Admin', N'123')
INSERT [dbo].[Torneos] ([IDTorneo], [NombreTorneo], [ContraseniaDeAdministrador], [LinkParaUnirse]) VALUES (2, N'Liga2', N'Admin2', N'234')
INSERT [dbo].[Torneos] ([IDTorneo], [NombreTorneo], [ContraseniaDeAdministrador], [LinkParaUnirse]) VALUES (3, N'Superliga', N'Admin3', N'567')
SET IDENTITY_INSERT [dbo].[Torneos] OFF
GO
INSERT [dbo].[TorneosParticipadosXUsuario] ([IDUsuario], [IDTorneo], [Administrador], [IDEquipo]) VALUES (1, 1, 0, 1)
INSERT [dbo].[TorneosParticipadosXUsuario] ([IDUsuario], [IDTorneo], [Administrador], [IDEquipo]) VALUES (2, 1, 0, 2)
INSERT [dbo].[TorneosParticipadosXUsuario] ([IDUsuario], [IDTorneo], [Administrador], [IDEquipo]) VALUES (3, 1, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [NombreDeUsuario], [Contrasenia], [FechaDeNacimiento], [Email], [GolesEnTorneo]) VALUES (1, N'DamianGluk', N'Dami123', CAST(N'2003-05-08' AS Date), N'damigluk@gmail.com', 10)
INSERT [dbo].[Usuarios] ([IDUsuario], [NombreDeUsuario], [Contrasenia], [FechaDeNacimiento], [Email], [GolesEnTorneo]) VALUES (2, N'Ale', N'ale123', CAST(N'2003-11-11' AS Date), N'ale@gmail.com', 20)
INSERT [dbo].[Usuarios] ([IDUsuario], [NombreDeUsuario], [Contrasenia], [FechaDeNacimiento], [Email], [GolesEnTorneo]) VALUES (3, N'Gabo', N'gabo123', CAST(N'2004-11-11' AS Date), N'jojo@gmail.com', 30)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Torneos] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_Torneos]
GO
ALTER TABLE [dbo].[Fotos]  WITH CHECK ADD  CONSTRAINT [FK_Fotos_Torneos1] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[Fotos] CHECK CONSTRAINT [FK_Fotos_Torneos1]
GO
ALTER TABLE [dbo].[GolesXUsuarioXPartidos]  WITH CHECK ADD  CONSTRAINT [FK_GolesXPartidos_Partidos] FOREIGN KEY([IDPartido])
REFERENCES [dbo].[Partidos] ([IDPartido])
GO
ALTER TABLE [dbo].[GolesXUsuarioXPartidos] CHECK CONSTRAINT [FK_GolesXPartidos_Partidos]
GO
ALTER TABLE [dbo].[GolesXUsuarioXPartidos]  WITH CHECK ADD  CONSTRAINT [FK_GolesXPartidos_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[GolesXUsuarioXPartidos] CHECK CONSTRAINT [FK_GolesXPartidos_Usuarios]
GO
ALTER TABLE [dbo].[ListaDeEsperaParaTorneo]  WITH CHECK ADD  CONSTRAINT [FK_ListaDeEsperaParaTorneo_Torneos] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[ListaDeEsperaParaTorneo] CHECK CONSTRAINT [FK_ListaDeEsperaParaTorneo_Torneos]
GO
ALTER TABLE [dbo].[ListaDeEsperaParaTorneo]  WITH CHECK ADD  CONSTRAINT [FK_ListaDeEsperaParaTorneo_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[ListaDeEsperaParaTorneo] CHECK CONSTRAINT [FK_ListaDeEsperaParaTorneo_Usuarios]
GO
ALTER TABLE [dbo].[Noticias]  WITH CHECK ADD  CONSTRAINT [FK_Noticias_Fotos] FOREIGN KEY([IDFoto])
REFERENCES [dbo].[Fotos] ([IDFoto])
GO
ALTER TABLE [dbo].[Noticias] CHECK CONSTRAINT [FK_Noticias_Fotos]
GO
ALTER TABLE [dbo].[Noticias]  WITH CHECK ADD  CONSTRAINT [FK_Noticias_Torneos] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[Noticias] CHECK CONSTRAINT [FK_Noticias_Torneos]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partidos_Torneos] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partidos_Torneos]
GO
ALTER TABLE [dbo].[SeguidoresXTorneos]  WITH CHECK ADD  CONSTRAINT [FK_SeguidoresXTorneos_Equipos] FOREIGN KEY([IDEquipoFavorito])
REFERENCES [dbo].[Equipos] ([IDEquipo])
GO
ALTER TABLE [dbo].[SeguidoresXTorneos] CHECK CONSTRAINT [FK_SeguidoresXTorneos_Equipos]
GO
ALTER TABLE [dbo].[SeguidoresXTorneos]  WITH CHECK ADD  CONSTRAINT [FK_SeguidoresXTorneos_Torneos] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[SeguidoresXTorneos] CHECK CONSTRAINT [FK_SeguidoresXTorneos_Torneos]
GO
ALTER TABLE [dbo].[SeguidoresXTorneos]  WITH CHECK ADD  CONSTRAINT [FK_SeguidoresXTorneos_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[SeguidoresXTorneos] CHECK CONSTRAINT [FK_SeguidoresXTorneos_Usuarios]
GO
ALTER TABLE [dbo].[TorneosParticipadosXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TorneosParticipadosXUsuario_Torneos1] FOREIGN KEY([IDTorneo])
REFERENCES [dbo].[Torneos] ([IDTorneo])
GO
ALTER TABLE [dbo].[TorneosParticipadosXUsuario] CHECK CONSTRAINT [FK_TorneosParticipadosXUsuario_Torneos1]
GO
ALTER TABLE [dbo].[TorneosParticipadosXUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TorneosParticipadosXUsuario_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[TorneosParticipadosXUsuario] CHECK CONSTRAINT [FK_TorneosParticipadosXUsuario_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTorneoSeguidoPorUsuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteTorneoSeguidoPorUsuario]
	-- Add the parameters for the stored procedure here
	@IDTorneo int,
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	delete from SeguidoresXTorneos where IDUsuario = @IDUsuario and IDTorneo = @IDTorneo
	
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarTorneoSeguidoPorUsuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarTorneoSeguidoPorUsuario]
	-- Add the parameters for the stored procedure here
	@IDTorneo int,
	@IDUsuario int,
	@IDEquipoFavorito varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (@IDEquipoFavorito = -1)
	BEGIN
	insert into SeguidoresXTorneos(IDUsuario,IDTorneo,IDEquipoFavorito) values (@IDUsuario,@IDTorneo,NULL)
	END
	ELSE
	BEGIN
	insert into SeguidoresXTorneos(IDUsuario,IDTorneo,IDEquipoFavorito) values (@IDUsuario,@IDTorneo,@IDEquipoFavorito)
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[TraerEquipoPorIDEquipo]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerEquipoPorIDEquipo] 
	-- Add the parameters for the stored procedure here
	@IDEquipo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from Equipos where Equipos.IDEquipo = @IDEquipo
END
GO
/****** Object:  StoredProcedure [dbo].[TraerGolesXusuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerGolesXusuario] 
	-- Add the parameters for the stored procedure here
	@IDPartido int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select IDPartido, GolesXUsuarioXPartidos.IDUsuario,NombreDeUsuario,CantidadGoles,
           Equipos.NombreEquipo from GolesXUsuarioXPartidos inner join Usuarios on Usuarios.IDUsuario = 
           GolesXUsuarioXPartidos.IDUsuario inner join TorneosParticipadosXUsuario on TorneosParticipadosXUsuario.IDUsuario = 
           Usuarios.IDUsuario inner join Equipos on TorneosParticipadosXUsuario.IDEquipo = Equipos.IDEquipo where
           GolesXUsuarioXPartidos.IDPartido = @IDPartido
END
GO
/****** Object:  StoredProcedure [dbo].[TraerJornadasPorTorneo]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerJornadasPorTorneo]
	-- Add the parameters for the stored procedure here
	@IDTorneo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Distinct JornadaDelTorneo FROM Partidos where Partidos.IDTorneo = +@IDTorneo
END
GO
/****** Object:  StoredProcedure [dbo].[TraerJugadoresXEquipos]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerJugadoresXEquipos] 
	-- Add the parameters for the stored procedure here
	@IDEquipo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from Usuarios inner join TorneosParticipadosXUsuario on Usuarios.IDUsuario = TorneosParticipadosXUsuario.IDUsuario 
	where TorneosParticipadosXUsuario.IDEquipo = @IDEquipo
END
GO
/****** Object:  StoredProcedure [dbo].[TraerListaGoleadores]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerListaGoleadores] 
	-- Add the parameters for the stored procedure here
	@IDTorneo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select Usuarios.IDUsuario,NombreDeUsuario, Equipos.NombreEquipo,GolesEnTorneo from Usuarios inner join
           TorneosParticipadosXUsuario on Usuarios.IDUsuario = TorneosParticipadosXUsuario.IDUsuario inner join Equipos
           on Equipos.IDEquipo = TorneosParticipadosXUsuario.IDEquipo where TorneosParticipadosXUsuario.IDTorneo = @IDTorneo
           order by Usuarios.GolesEnTorneo desc
END
GO
/****** Object:  StoredProcedure [dbo].[TraerListaPosiciones]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerListaPosiciones]
    -- Add the parameters for the stored procedure here
    @IDTorneo int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here
    SELECT * FROM Equipos where Equipos.IDTorneo = @IDTorneo order by Puntos desc,GolesAFavor desc
END
GO
/****** Object:  StoredProcedure [dbo].[TraerNoticiasPorTorneo]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerNoticiasPorTorneo] 
	-- Add the parameters for the stored procedure here
	@IDTorneo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from Noticias where IDTorneo = @IDTorneo order by Destacada DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TraerPartidosPorJornada]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerPartidosPorJornada]
	-- Add the parameters for the stored procedure here
	@IDJornada int,
	@IDTorneo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Partidos.*,EquipoLocal.NombreEquipo As NombreEquipoLocal, EquipoVisitante.NombreEquipo AS NombreEquipoVisitante
          FROM Partidos INNER JOIN Equipos EquipoLocal ON Partidos.IDEquipo1 = EquipoLocal.IDEquipo
          INNER JOIN Equipos EquipoVisitante ON Partidos.IDEquipo2 = EquipoVisitante.IDEquipo
          where Partidos.JornadaDelTorneo = @IDJornada and Partidos.IDTorneo = + @IDTorneo
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTorneoPorID]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerTorneoPorID]
	-- Add the parameters for the stored procedure here
	@IDTorneo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Torneos where Torneos.IDTorneo = +@IDTorneo
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTorneosParticipadosPorUsuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerTorneosParticipadosPorUsuario] 
	-- Add the parameters for the stored procedure here
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Torneos.* FROM Torneos LEFT JOIN TorneosParticipadosXUsuario ON Torneos.IDTorneo = TorneosParticipadosXUsuario.IDTorneo 
	AND TorneosParticipadosXUsuario.IDUsuario = @IDUsuario where TorneosParticipadosXUsuario.IDUsuario IS NOT NULL 
	order by Torneos.NombreTorneo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTorneosPorNombre]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TraerTorneosPorNombre]
    -- Add the parameters for the stored procedure here
    @Nombre varchar(30),
	@IDUsuario int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here\

	IF @Nombre = '()' 
BEGIN
	SELECT Torneos.*, CASE WHEN SeguidoresXTorneos.IDUsuario IS NOT NULL THEN 1 ELSE 0 END AS Siguiendo FROM Torneos LEFT JOIN SeguidoresXTorneos ON Torneos.IDTorneo = SeguidoresXTorneos.IDTorneo AND SeguidoresXTorneos.IDUsuario = @IDUsuario order by Torneos.NombreTorneo ASC 
END
ELSE
BEGIN
	SELECT Torneos.*, CASE WHEN SeguidoresXTorneos.IDUsuario IS NOT NULL THEN 1 ELSE 0 END AS Siguiendo
    FROM Torneos LEFT JOIN SeguidoresXTorneos ON Torneos.IDTorneo = SeguidoresXTorneos.IDTorneo AND SeguidoresXTorneos.IDUsuario = @IDUsuario
    where NombreTorneo LIKE '%'+@Nombre+'%'
    order by Torneos.NombreTorneo ASC
END
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTorneosSeguidosPorUsuario]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerTorneosSeguidosPorUsuario] 
	-- Add the parameters for the stored procedure here
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Torneos.* FROM Torneos LEFT JOIN SeguidoresXTorneos ON Torneos.IDTorneo = SeguidoresXTorneos.IDTorneo 
	AND SeguidoresXTorneos.IDUsuario = @IDUsuario where SeguidoresXTorneos.IDUsuario IS NOT NULL order by Torneos.NombreTorneo ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TraerUsuarioPorNombreContrasenia]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerUsuarioPorNombreContrasenia] 
	-- Add the parameters for the stored procedure here
	@NombreUsuario varchar(20),
	@Contrasenia varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from Usuarios where Usuarios.NombreDeUsuario = @NombreUsuario and Usuarios.Contrasenia = @Contrasenia
END
GO
/****** Object:  StoredProcedure [dbo].[TraerUsuariosPorID]    Script Date: 20/10/2020 11:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerUsuariosPorID] 
	-- Add the parameters for the stored procedure here
	@IDUsuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from Usuarios where Usuarios.IDUsuario = @IDUsuario
END
GO
USE [master]
GO
